<h1>Julius Caesar</h1>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <h3>Act I:</h3>
    <p>The play opens humorously with a little word play between Flavius, Marullus, and a few workers. The workers are
      on their way to see Julius Caesar who has recently returned from his victorious battle against Pompey. The reader
      immediately sees the dislike the tribunes have towards Caesar. However, the commoners seem to love Caesar.</p>

    <p>The scene moves to a large gathering where Caesar is the focus. As Caesar converses with Mark Antony, we learn
      that Caesar is superstitious. The belief in the supernatural and the forces of nature are very prevalent in the
      play, and Caesar's comment is but one example. To keep with the idea of the supernatural, a soothsayer speaks,
      warning Caesar to beware the Ides of March. He acts as though he is not concerned.</p>

    <p>After the exchange with the soothsayer, Caesar is offered the crown three times and refuses each time, even
      though the people are cheering for him to accept the emperorship. At the same time, Cassius is trying to convince
      Brutus that Caesar is too ambitious and should be killed before being allowed to rule the Roman Empire. Brutus,
      always seeking to do what is right, says that he will not betray his honor and loyalty to Rome.</p>

    <p>That evening, there are strange and unusual natural occurrences--the weather is very strange and violent and
      fire falls from the sky. Most of the people believe that the weather is a bad omen, but Cassius disagrees. He uses
      the unusual weather to reason that it is only for evil men (such as Caesar) who need to be afraid. The plotting
      against Caesar continues.</p>

  </div>
  <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar bump-first-sidebar-img" src="../../../assets/img/jc-caesar-win-acti.jpg" alt=""></div>
  <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar" src="../../../assets/img/jc-caesar-refuses-crown.jpg" alt=""></div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <h3>Act II:</h3>
      <p>Brutus is convinced by Cassius that it is for the good of Rome that Caesar be killed. Some of the other
          conspirators want to kill friends of Caesar's, but Brutus feels that it is not necessary to kill anyone else.
          Only the person responsible for the downfall of Rome should perish according to Brutus.</p>
      <p>Caesar is contemplating on whether he should remain home during the Ides of March (which is March 15th).
          Calphurinia, Caesar's wife, tells Caesar of the horrible dream she had about his death and that the strange
          occurrences the night before are a prelude of his death. He agrees to stay until Decius, a conspirator, tells
          him her dreams were not of his death, but of him saving Rome. Thus Caesar leaves for the Senate despite his
          wife's pleas.</p>
      <p>Meanwhile, Artemidorus waits in the streets of Rome for Caesar to pass so he can give him a note, warning
          Caesar of the conspiracy.</p>
  </div>
  <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar bump-first-sidebar-img" src="../../../assets/img/jc-brutus-cassius.jpg" alt=""></div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <h3>Act III:</h3>
      <p>Attempts are made to warn Caesar of the plot to kill him, but none are successful. Caesar is murdered in the
          Senate House. Brutus keeps the others from killing anyone else and they all believe that their deed will be
          celebrated throughout the ages. Antony enters and pretends that he agrees with the conspirators actions and is
          granted permission to speak at Caesar's funeral.</p>

      <p>Brutus speaks first at the funeral to explain their reasons for killing Caesar. The people seem to accept his
          explanation and then Antony speaks. Throughout his speech, Antony never really says anything bad about Brutus
          and the others, but he talks about Caesar being such a great and noble man willing to sacrifice all for his
          people. The listeners become angry and a mob runs through the streets in search of the conspirators; they even
          kill a man because he had the same name as one of the conspirators.</p>
  </div>
  <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar bump-first-sidebar-img" src="../../../assets/img/jc-death-of-caesar.jpg" alt="Et tu, Brute?"></div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <h3>Act IV:</h3>
      <p>Battle plans are being made as well as a list of people supportive of Brutus and the conspirators. These
          people are to be killed. Octavius and Antony methodically pick people (even family members) who are to be
          executed.</p>

      <p>This next part somewhat confused me. Brutus and Cassius are arguing with each other because Brutus would not
          pardon a friend of Cassius caught accepting bribes. It is almost as if Brutus is mad at Cassius for convincing
          him to kill Caesar and uses this to vent his anger. I'm not really sure if this is true, so don't take it as
          gospel. Then they make up saying they weren't really in their right minds.</p>

      <p>As if things aren't bad enough for Brutus, he finds out that his wife committed suicide by swallowing hot
          coals. Later he sees the ghost of Caesar who tells him that they will meet again in Philippi.</p>

  </div>
  <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar bump-first-sidebar-img" src="../../../assets/img/jc-battle-ready.jpg" alt=""></div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <h3>Act V:</h3>
      <p>The battle is about ready to begin. First Octavius, Antony, Cassius, and Brutus meet on the battlefield to
          talk, but obviously they cannot and will not cooperate. Brutus and Cassius talk after the meeting about the
          inevitable battle. They say their farewells and part. It appears that Brutus has been defeated. Pindarus tells
          Cassius that Brutus has been taken and Antony has defeated him. Thus, Cassius kills himself and then after
          seeing Cassius's body, Titinius kills himself. Later Brutus says that Caesar's spirit "walks abroad" and I
          take that to mean that Caesar is making sure his killers will die.</p>

      <p>By the end, Brutus and Cassius' armies have been overwhelmed and Antony and Octavius are fast moving in on
          Brutus. Brutus asks Strato to kill him and he agrees. Once Antony and Octavius find the body they say that
          Brutus was the only noble person among the conspirators.</p>
  </div>
  <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar bump-first-sidebar-img" src="../../../assets/img/jc-cassius-dead.jpg" alt=""></div>
</div>