<h1>Macbeth</h1>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
        <h3>Act I:</h3>

        <p>This Act opens with the three Weird Sisters setting up the entire theme of the play: Fair is foul and foul is fair. A war is taking place against Scotland (the setting of this play) and Norway. Scotland is victorious due to the valiant efforts of Macbeth. The traitorous Thane of Cawdor is captured and executed. King Duncan decides to reward Macbeth with the title of Thane of Cawdor to show his gratitude.</p>

        <p>The scene shifts to the battleground where the three Weird Sisters confront Macbeth and Banquo, telling Macbeth that he will become Thane of Cawdor and eventually king. Macbeth soon learns of his new title, fulfilling the first part of the prophesy, and sends word to his wife. King Duncan plans on staying the night at Macbeth's home.</p>
        <p>Lady Macbeth receives the news and immediately plots the death of King Duncan so her husband will be king. Lady
            Macbeth manipulates Macbeth into following her plans, and he reluctantly agrees to murder Duncan. By the end of Act
            I, Macbeth is determined to follow through with the plan.</p>
    </div>
    <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar bump-first-sidebar-img" src="../../../assets/img/macthreewitches.jpg" alt=""></div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
        <h3>Act II:</h3>

        <p>Macbeth again has some doubts (and visions), but he soon talks himself into following through with the murder.
            Macbeth freaks out so Lady Macbeth finishes the rest of the plan by wiping blood on the drunk guards.</p>

        <p>The next morning, Macduff and Lennox arrive at Macbeth's, and Macduff discovers the dead body of King Duncan. All
            are shocked and Macbeth plays his role to perfection. The guards are immediately suspect and Macbeth kills them "in
            a fit of sorrow and rage." Malcolm and Donalbain, the King's sons, flee the castle because they are afraid that they
            will be blamed for the murder of their father. The king is soon buried.</p>
    </div>
    <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar bump-first-sidebar-img" src="../../../assets/img/ladymackingdunc.jpg" alt=""></div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
        <h3>Act III:</h3>
        <p>Banquo begins to suspect Macbeth for the murder of King Duncan and Macbeth in turn feels that Banquo will reveal
            that it was he that killed the King. Therefore, Macbeth sends out some thugs to murder Banquo and his son, Fleance.
            Banquo is murdered, but Fleance escapes.</p>
        <p>Macbeth, Lady Macbeth, Lennox, Ross, and other lords attend a banquet. The ghost of Banquo presents itself to
            Macbeth. Macbeth begins to rant and rave, making the other guests uneasy. Lady Macbeth tries to cover up the
            situation by saying Macbeth is prone to fits. By the end of this Act, we learn that Macduff has not attended the
            banquet because he has gone to England, looking for aid because he is suspicious of Macbeth.</p>
    </div>
    <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar bump-first-sidebar-img" src="../../../assets/img/banquoghost.jpg" alt=""></div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
        <h3>Act IV:</h3>
        <p>Macbeth confronts the three Weird Sisters and they show him more visions. The visions lead Macbeth to believe that
            he cannot be killed by any man, giving him a false sense of security. He then plans to send murderers to the castle
            of Macduff (who is in England ) in order to kill his family.</p>
        <p>Meanwhile, Macduff is in England begging Malcolm to return to Scotland and seize the throne from Macbeth who has
            become a tyrant. Malcolm tests Macduff's loyalty to Scotland and himself, and after being satisfied with Macduff's
            responses, he agrees to wage war against Macbeth. Malcolm's uncle will also aid in the attack.</p>
    </div>
    <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar bump-first-sidebar-img" src="../../../assets/img/prophecy.jpg" alt=""></div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
        <h3>Act V:</h3>
        <p>Lady Macbeth has finally gone mad with guilt over the murders. The once strong and ruthless woman is now a scared
        child. Doctors are unable to help her.</p>
        <p>Some of the Scottish lords are discussing Macbeth's state of mind and have come to the conclusion that they will
            help Malcolm and Macduff fight against Macbeth. Of course, Macbeth isn't really concerned because the prophecy, he
            believes, insures that he cannot be killed by any man born of woman. Macbeth soon confronts Macduff and learns that
            Macduff was ripped from his mother's side and not born naturally. Thus, Macbeth is killed by Macduff, just as
            Macbeth had conquered the other Thane of Cawdor. Malcolm then becomes the rightful King of Scotland</p>
    </div>
    <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar bump-first-sidebar-img" src="../../../assets/img/macbeth-crazed.jpg" alt=""></div>
</div>