.play-available {
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    border: 1px solid dimgray;
    margin:0 0 20px 20px;
    min-height: 155px;
}

.col-lg-3 {
    width: 23%;
}
