/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Oxygen', sans-serif;
}

h1,h2,h3,h4,h5,h6,h7 {
    font-family: 'Merriweather', serif;
}

.jumbotron {
    background-image: url("../img/shakespeare_statue.jpg");
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment: fixed;
    background-size: cover;
}

.jumbotron div.container {
    height: 350px;
}
