<snet-header></snet-header>
<div class="container">
    <router-outlet></router-outlet>
</div>
<!-- FOOTER -->
<div class="container">
    <footer>
        <p class="pull-right"><button type="button" class="btn btn-info" (click)="backToTop()">Back to top</button></p>
        <p>&copy; 2016 Brian Wilkins</p>
    </footer>
</div>
