<h1>Welcome to ShakespeareNet.net!</h1>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
        <p>"Who's Shakespeare?" you may ask. Why, the greatest playwright of all time! There are many people out there in the
            world, some students (well, especially the students), who couldn't care less about Shakespeare. I believe this dislike
            towards the Bard comes from the fact that his writings are difficult to understand.</p>
        <p>I've provided summaries for a few of my favorite plays: Julius Caesar, Macbeth, Much Ado About Nothing, and Romeo and Juliet.
            Hopefully ShakespeareNet will be able to help you understand these plays a little better. By understanding the play,
            you are well on your way to unlocking the joys of reading Shakespeare!</p>
        <p>As an aside, ShakespeareNet began around 1997. It's had a few rewrites during that time, and I've finally made a much
        needed update to bring it into the modern web sphere. I hope you enjoy the new look as much as I enjoyed developing it.</p>
        <p>Kind regards,</p>
        <p>Brian Wilkins</p>
    </div>
    <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar bump-first-sidebar-img" src="../assets/img/shakespeare.jpg" alt=""></div>
</div>