<h1>Romeo and Juliet</h1>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <h3>Act I:</h3>
    <p>The opening lines sum up the entire play: Two families have fought each other for what could be over a century.
      A son from one house and a daughter from the other house fall in love, but this love is not meant to be. Both
      lovers will take their lives, and their deaths will bring peace to both houses.</p>

    <p>After the prologue, the scene shifts to the streets of Verona where two of Capulet’s men (Sampson and Gregory)
      discuss the tension between their lord and lord Montague. During their discussion they notice Abram and Balthasar,
      two of Montague’s men. After a littler prodding, Sampson gets Gregory to start an argument with the Montagues. A
      fight breaks out between the men, causing all of the people in the streets to begin fighting. Benvolio tries to
      stop the fight, but is attacked by Tybalt. The Prince arrives with his men and breaks up the fight. He announces
      that if anyone from either house disturbs the peace once more, they will be put to death.</p>

    <p>After the fight, Benvolio is sent to find Romeo. Romeo has been brooding all morning because the love of his
      life does not love him anymore. He can’t imagine how he can ever find joy, happiness, or love without Rosaline.
      Benvolio tries to cheer-up Romeo. During their conversation, a Capulet servant walks by and asks if they could
      read the note that he is carrying. The note is actually a list of people that are invited to Capulet’s house for a
      party. Benvolio, seeing Rosaline’s name on the list, persuades Romeo to go to the party and compare Rosaline’s
      beauty with the other women at the party. Basically, Benvolio is telling Romeo that there is more than one woman
      in the world.</p>

    <p>The next scene begins at the House of Capulet. The Nurse has raised Juliet since she was born, as was the custom
      for most births of royalty or nobles. Lady Capulet tells Juliet that Paris, a young count and cousin of the
      Prince, wishes to marry Juliet. Juliet is told that she will meet him at the party that night, and she is asked if
      she can like him. She states that she will try if that is what they want her to do.</p>

    <p>Later that evening, Romeo, Benvolio, Mercutio, and around five or six other men are making their way to the
      party. Mercutio tends to be a joker, and he makes fun of Romeo because of his attitude about love. Romeo then says
      he dreamt that it wasn’t a good idea to go to the party. Mercutio then says that dreams lie, and he begins a long
      speech about dreams. The speech becomes so strange that Romeo stops him and tells Mercutio that he speaks
      nonsense. In a way, I think the speech is a way for Mercutio to show Romeo that he shouldn’t just sit around
      thinking about lost love, but instead live life to the fullest.</p>

    <p>The group attends the party, but while they are there, Tybalt recognizes Romeo. He wants to kill Romeo, but
      Capulet refuses. As long as he is there and causing no trouble, Capulet doesn’t want the Prince’s wrath on his
      house. It isn’t long before Romeo sees Juliet, and all thoughts of Rosaline vanish. The two exchange words and are
      instantly attracted to one another. Of course, as the guests leave, both Romeo and Juliet learn that each have
      fallen in love with their enemy.</p>
  </div>
    <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar bump-first-sidebar-img" src="../../../assets/img/romeojuliet-acti-opening-fight.jpg" alt="Do you bite your thumb at me, sir?"></div>
    <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar" src="../../../assets/img/romeojuliet-juliet-and-nurse-acti.jpg" alt="I'll look to like, if looking liking move."></div>
    <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar" src="../../../assets/img/romeojuliet-mercutio-acti.jpg" alt="O, then, I see Queen Mab hath been with you."></div>
    <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar" src="../../../assets/img/romeojuliet-1968-ball.jpg" alt="O, then, dear saint, let lips do what hands do."></div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <h3>Act II:</h3>
    <p>After the party, Romeo sneaks away from his friends and cousin. He hides in the orchard below Juliet’s window.
      Juliet appears and talks to herself about her love for Romeo. Unable to contain himself, Romeo leaps out from
      hiding. They talk to each other of love and each vow’s love to the other. Juliet says she will send her Nurse to
      Romeo tomorrow, and he is to tell her when and where they will be married.</p>

    <p>The next morning Romeo tells Friar Laurence about his plans to marry Juliet. He agrees to help the two lovers
      because he hopes that the marriage will end the feud between the two houses.</p>

    <p>Romeo meets up with Benvolio and Mercutio. Mercutio teases Romeo saying he left them to have sex (or maybe my
      mind is in the gutter, but if you read the dialog between the two, there are many sexual references). The Nurse
      comes soon after their dialog, and Romeo tells her that he wants Juliet to meet her at Friar Laurence’s cell. She
      agrees to tell Juliet the meeting place.</p>

    <p>Juliet waits impatiently for the Nurse’s return. When the Nurse arrives, she doesn’t tell Juliet the news right
      away. She is teasing Juliet, but she finally tells her the details of the plan. Juliet meets Romeo, and Friar
      Laurence marries the two.</p>
  </div>
  <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar bump-first-sidebar-img" src="../../../assets/img/romeojuliet-1968-DI-03.jpg" alt=""></div>
  <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar" src="../../../assets/img/romeojuliet-wedding.jpg" alt=""></div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <h3>Act III:</h3>
    <p>This act returns to Mercutio, Benvolio, and the other men. They speak of how unusually hot the day is which can
      often cause people to anger quicker than usual. Soon Tybalt and some other Capulets confront Mercutio asking if he
      knows where Romeo is hiding. Romeo soon enters and Tybalt challenges him to a duel, but Romeo refuses saying that
      he must love Tybalt now (of course we know why – he married Juliet). However, Mercutio draws his sword and fights
      Tybalt. Romeo tries to stop the fight, but accidentally gets Mercutio mortally wounded. Mercutio dies.</p>

    <p>Romeo becomes so enraged that he challenges Tybalt. Romeo eventually kills Tybalt. The Prince learns of the
      deaths, but because Romeo killed Tybalt for killing Mercutio, Romeo is given the chance to leave Verona forever.
      If he is found within the city he will be executed.</p>

    <p>Juliet grieves for both Tybalt and Romeo. She has conflicting emotions about the events that have taken place,
      but she eventually gains her composure and stands behind her husband. She tells the Nurse to find Romeo and have
      him come to her before he leaves the city.</p>

    <p>Romeo goes to Friar Laurence. All Romeo can think about is dying, but the Friar chastises him for not thanking
      God for the Prince’s mercy. The Nurse enters and also scolds him for his lack of strength. Romeo tries to stab
      himself with a dagger, but the Nurse snatches it away. Friar Laurence tells Romeo to stop his crying and demands
      that he see Juliet. He then says that Romeo should stay out of the city until they can tell everyone about his
      marriage to Juliet and beg the Prince to pardon him. Romeo leaves to see Juliet one last time.</p>

    <p>Juliet and Romeo spend his last night in Verona together and he leaves. Lady Capulet enters her room and tells
      Juliet that Capulet has decided she will marry Paris that week. Juliet is of course angered by it. Capulet
      threatens to disown her if she does not marry Paris so she reluctantly agrees. When he leaves, she asks the Nurse
      what she should do, but the Nurse says she should marry Paris because Romeo is essentially dead if she can’t see
      him. Seeing that the Nurse will not help her, she lies and says to tell her mother that she is going to Laurence’s
      cell for confession because she disobeyed her father.</p>

  </div>
  <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar bump-first-sidebar-img" src="../../../assets/img/romeojuliet-tybalt-mercutio.jpg" alt=""></div>
  <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar" src="../../../assets/img/romeojuliet-tybalt-dies.jpg" alt=""></div>
  <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar" src="../../../assets/img/romeojuliet-last-night.jpg" alt=""></div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <h3>Act IV:</h3>
    <p>Paris tells the Friar that he is marrying Juliet on Thursday of that week. Juliet enters and Paris leaves.
      Juliet asks the Friar to help her, and he comes up with a plan. He gives her a potion that will make it appear as
      if she has died in her sleep. It will last for 42 hours and she will awake in the tomb. He will send a letter to
      Romeo to let him know what is happening so Romeo can be there to let her out of the tomb. Juliet takes the poison
      and returns home.</p>

    <p>Juliet acts as if nothing is wrong and continues to make the others believe she is preparing to marry Paris.
      While everyone is busy with the wedding preparations, Juliet takes the poison. They find her body the next
      morning.</p>
  </div>
  <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar bump-first-sidebar-img" src="../../../assets/img/romeojuliet-friar-poison.jpg" alt=""></div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <h3>Act V:</h3>
    <p>While Romeo waits in Mantua, his servant comes and tells him that he saw Juliet being placed in the Capulet
      tomb. Romeo is not ready to believe she is dead. He buys a poison that will kill him instantly and leaves to see
      if her death is truth. In the meantime, Friar Laurence sends the letter to Romeo, but it is too late.</p>

    <p>When Romeo gets to the tomb, he encounters Paris. The two fight and Romeo kills Paris. He enters the tomb and
      sees Juliet. Thinking she is dead he drinks the poison and dies instantly. The Friar races to the tomb, but he is
      too late and sees Romeo dead on the floor beside Juliet. She awakens to find Romeo dead beside her. The town
      guards can be heard so the Friar leaves. Juliet takes Romeo’s dagger and stabs herself.</p>

    <p>Montague, Capulet, and the Prince arrive. The Friar explains everything that has happened. Montague and Capulet
      finally see how much damage their feuding has done so they decide to end the war between their houses. As the
      Prince says, "[It is] a glooming peace this morning with it brings. / …For never was a story of more woe / Than
      this of Juliet and her Romeo. (V, iii, 305-310)</p>
  </div>
  <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar bump-first-sidebar-img" src="../../../assets/img/romeojuliet-juliet-death.jpg" alt=""></div>
  <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar" src="../../../assets/img/romeojuliet-death.jpg" alt=""></div>
</div>