<h1>Much Ado About Nothing</h1>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <h3>Act I:</h3>
    <p>The play opens in Messina, a city in Italy, with Leonato, Hero, and Beatrice. A messenger enters, telling
      Leonato that Don Pedro is coming to Messina after doing battle in war. We learn that Don Pedro is bringing people
      with him, including a young lord named Claudio. Despite his young age, he is thought of very highly by Don Pedro,
      and the messenger explains that even though he is young, Claudio has performed better than expected.</p>

    <p>Beatrice, acting almost as if she doesn't really care, asks about Signior Mountanto. She really means Benedick,
      her verbal sparring partner. We learn that Beatrice and Benedick have been trading jibes with each other for quite
      some time. Although neither one would readily admit it, the verbal matches could very easily be considered
      flirting.</p>

    <p>Soon, Don Pedro enters with Claudio, Benedick, Balthasar, and John the Bastard. A few friendly words are
      exchanged between Don Pedro and Leonato, but it doesn't take long for Beatrice and Benedick to begin another
      verbal sparring match. We learn through this exchange that neither of the two want to marry.</p>

    <p>All of them leave except for Claudio and Benedick. Claudio tells Benedick that he thinks Hero is the most
      beautiful woman he has ever seen and wants to marry her. Benedick teases Claudio about being in love and tells him
      that before long he will have a yoke around his neck (kind of like the expression "the old-ball-and-chain"). Don
      Pedro enters. We are told again through a discussion between the three that Benedick wants to remain a bachelor
      forever.</p>

    <p>Benedick leaves. Don Pedro tells Claudio that he will help him win Hero's heart. They plan to wear masks at the
      party that night, and Pedro will pretend to be Claudio. He will woo Hero, then tell Leonato that Claudio wishes to
      marry Hero. This conversation is overheard and told to Antonio. Antonio tells Leonato who decides it would be best
      to tell Hero so that she can be better prepared to answer.</p>

    <p>The scene shifts to John and Conrade. Through John's dialog we learn that he is a very bitter man and full of
      deceit. Borachio enters and tells John about Claudio's and Pedro's plan. John wants to do everything he can to
      foul things up.</p>
  </div>
  <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar bump-first-sidebar-img" src="../../../assets/img/muchado-messenger-i.jpg" alt=""></div>
  <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar" src="../../../assets/img/muchado-donpedro-arrives-i.jpg" alt=""></div>
  <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar" src="../../../assets/img/muchado-benedick-not-marry.jpg" alt=""></div>
  <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar" src="../../../assets/img/muchado-donjohn-trueself-i.jpg" alt=""></div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <h3>Act II:</h3>
    <p>The Act begins with Beatrice explaining why she will never marry. Like Benedick, she wants to remain single
      forever. Leonato hopes that she will one day find a husband, but she is adamantly against it.</p>

    <p>The others enter (with Don Pedro, Claudio, Benedick, and Balthasar in masks). Don Pedro leaves with Hero,
      Balthasar leaves with Margaret, and Antonio leaves with Ursula. Benedick pretends he is someone else and strikes
      up a conversation with Beatrice. She tells him that Benedick is merely the prince's fool.</p>

    <p>John pretends he doesn't know Claudio and asks if he is Benedick. Claudio replies yes, so John begins to tell
      him that Don Pedro is in love with Hero. He wants Benedick to try to stop Pedro because he believes Hero is below
      Don Pedro's status. Claudio believes what he hears since it is coming from Don Pedro's brother, John. They leave
      and Benedick enters. He tells Claudio that Don Pedro is wooing Hero. From what I gather, Benedick doesn't know
      about the plan so he believes that Don Pedro really is trying to win Hero's love. Claudio thinks the worst because
      of what John told him so he believes Don Pedro really does love Hero and that Don Pedro has double-crossed him.
      Claudio leaves.</p>

    <p>Meanwhile, Don Pedro, Hero, and Leonato enter. Benedick explains what Beatrice said about him, and he plans to
      get even with her. Claudio returns with Beatrice. He still believes he has lost Hero until Don Pedro says that
      everything worked as planned. While they wait for their wedding day, Don Pedro decides to come up with a plan to
      get Benedick and Beatrice together.</p>

    <p>John and Borachio, unsuccessful in their first attempt, come up with a new plan. Borachio says that Margaret,
      Hero's handmaiden, likes Borachio. He will get her to come onto Hero's balcony. He will be there and call her
      Hero. She will call Borachio Claudio. John will tell Don Pedro, Claudio, and Leonato that Hero is not chaste and
      is with another man. He will prove it to them by showing the scene staged by Borachio.</p>

    <p>Benedick is alone in the orchard. He talks to himself about what he wants in a woman, but doesn't think that he
      will ever find a woman with all of the qualities he wants. Don Pedro, Leonato, Claudio, and Balthasar enter so
      Benedick hides in a tree. He overhears them saying that Beatrice is really in love with Benedick. He decides that
      Beatrice is beautiful and plans to win her heart.</p>
  </div>
  <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar bump-first-sidebar-img" src="../../../assets/img/muchado-beatrice-not-marry-ii.jpg" alt=""></div>
  <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar" src="../../../assets/img/muchado-benedick-masked-ii.jpg" alt=""></div>
  <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar" src="../../../assets/img/muchado-claudio-as-benedick-ii.jpg" alt=""></div>
  <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar" src="../../../assets/img/muchado-benedick-garden-ii.jpg" alt=""></div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <h3>Act III:</h3>
    <p>Hero has Margaret tell Beatrice that she and Ursula are in the orchard talking about her. She wants Beatrice to
      come to the orchard to eavesdrop. Hero tells Ursula that Benedick is in love with Beatrice. Beatrice hears this
      and decides to stop being so cantankerous with him. She will let him woo her.</p>

    <p>The scene shifts to Don Pedro, Claudio, Benedick, and John. John tells them that he knows that Hero has been
      unfaithful and that he can prove it by showing them. Claudio says that if it is true, he will tell everyone on
      their wedding day. We never actually see what happens, but Borachio tells Conrade that Don Pedro and Claudio
      thought that Margaret was Hero, and they were very upset. Borachio and Conrade are arrested.</p>
  </div>
  <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar bump-first-sidebar-img" src="../../../assets/img/muchado-beatrice-garden-iii.jpg" alt=""></div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <h3>Act IV:</h3>
    <p>Claudio announces at the wedding that Hero has been unfaithful and that she is not chaste. Hero tries to defend
      her own honor, but Claudio does not believe her. They ask Beatrice if she was with Hero last night, but she says
      she wasn't. Leonato believes Claudio and is heartbroken. Hero faints and Claudio leaves with Don Pedro. Benedick
      promises to go after them and try to convince them that they are wrong. He professes his love to Beatrice before
      he leaves.</p>

    <p>Meanwhile, Dogberry, Verges, and Sexton question Borachio and Conrade. They learn about the plot to ruin the
      marriage between Claudio and Hero</p>

  </div>
  <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar bump-first-sidebar-img" src="../../../assets/img/muchado-hero-swoons.jpg" alt=""></div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <h3>Act V:</h3>
    <p>Leonato and Antonio see Don Pedro and Claudio. Antonio gets so upset that he wants to fight them. They leave and
      Benedick enters. He too wants to fight Don Pedro and Claudio. He tells them that Hero has died and that he is
      ready to fight. However, Claudio and Don Pedro think that he is joking as usual. Benedick ends up leaving. Within
      a few minutes they see Dogberry with Borachio and Conrade as prisoners. They learn of Borachio's and John's plan
      to ruin the marriage between Claudio and Hero.</p>

    <p>Beatrice and Benedick share words about their new found love. There is still a little word sparring between the
      two, but they seem to truly have fallen in love with each other. They leave to go back to Leonato's.</p>

    <p>Claudio believes that Hero has died. He reads her epitaph and swears that each year he will return to read it.
      Claudio and Don Pedro return to Leonato's. Leonato has Hero, Beatrice, Margaret, and Ursula put on masks. When
      Claudio arrives he is to marry Leonato's niece. They never really say it is Beatrice, but I assume that is who he
      believes he is marrying. He says he will. When they finally unmask, Claudio sees that it is really Hero.</p>

    <p>With this happy ending, Benedick and Beatrice ask each other if they truly love one another. They both say that
      they really didn't, but Claudio and Hero both say they know that Beatrice and Benedick love each other. They
      decide to get married.</p>
  </div>
  <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar bump-first-sidebar-img" src="../../../assets/img/muchado-benedick-angry-v.jpg" alt=""></div>
  <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar" src="../../../assets/img/muchado-hero-tomb.jpg" alt=""></div>
  <div class="col-xs-6 col-md-4"><img class="img-rounded snet-sidebar" src="../../../assets/img/muchado-hero-claudio-marriage.jpg" alt=""></div>
</div>